body {
    background-image: url(..assets\pictures\yellowbkgd.jpg);
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0; 
}

h1 {
    background:#FFFF00;
    color: #000080;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.portfolio-label {
    text-align: center;
    position: relative;
    padding: 20px 0;
    bottom: 110px;
}

h2 {
    color: #000080;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    margin-top: 50px;
    
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
}

.fixed-header, .fixed-footer {
    width: 100%;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid #dddddd;
    
}

.fixed-header {
    top:0;
}

.fixed-footer {
    bottom: 0;
}

.your-name {
    float: left;
    padding: 20px;
    margin: 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #000080;
    text-decoration: none;
    size: 1rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #FFFF00;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #FFFF00;
    position: absolute;
    top: 0;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

.vl {
    border-left: 1px solid #dddddd;
    height: 1rem;
    padding: 0;
}

header {
    background: #ffffff;
}

hr {
    border-bottom: 1px solid #dddddd;
    margin: 0;
}

main hr {
    border-bottom: 1px solid #dddddd;
    margin: 0 20px 0 20px;
    
}

p {
    color: #777777;
    line-height: 1.5;
    margin: 20px 20px 0px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    size: 1.5rem;
    padding-bottom: 25px;
    
}

#pPic {
    float: left;
    width: 350px;
    padding: 20px;
    margin: 10px;
    
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    height: 50px;
    color: #777777;
    border-top: 8px solid #000080;
    background-color: #FFFF00;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    vertical-align: text-bottom;
    
}

footer p:hover {
    color: #ffffff;
}

.contact {
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    size: 1.5rem;
}

input[type=text],
input[type=email],
input[type=textarea],
textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000080;
    box-sizing: border-box;
}

input[type=submit] {
    background: #000080;
    color: #ffffff;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #ffff00;
    color: #000080;
}

.container .portfolio {
    box-sizing: border-box;
}

.row {
    margin: 8px 8px;
}

.row,
.row > .column {
    padding: 10px;
}

.column {
    float: left;
}

.content > img {
    width: 100%;
    height: 300px;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: #ffffff;
    padding: 10px;
}

@media screen and (max-width: 3000px) {
    .column {
        width: 45%;
    }
    .container {
        width: 75%;
    }
    #bioPic {
        width: 25%;
    }
    
}
@media screen and (max-width: 980px) {
    .column {
        width: 45%;
    }
    .container {
        width: 80%;
    }
    #bioPic {
        width: 25%;
    }
}


@media screen and (max-width: 768px) {
    .column {
        width: 45%
    }
    .container {
        width: 90%;
    }
    #pPic {
        width: 40%;
    }
    
}

@media screen and (max-width: 640px) {
    .column {
        width: 100%
    }
    .container {
        width: 100%;
    }
    #pPic {
        width: 90%;

    }
    .your-name {
        width: 100%;
        text-align: center;
    }

    nav {
        float: left;
        margin: auto auto auto 28vw;
    }

    li {
        padding-bottom: 30px;
    }
}